@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-tw-primary text-base leading-normal mx-auto bg-tw-light;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
  }
  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }
}

@layer components {
  // ******** GENERAL CUSTOM CSS *********
  .tw-transition-all {
    @apply transition-all duration-300;
  }

  .tw-bg-gradient-dark {
    @apply bg-gradient-to-t from-[rgba(0,0,0,0.5)] to-[rgba(0,0,0,0.5)];
  }
  // ******** END GENERAL CUSTOM CSS *********

  // ******** SIDE BAR ********
  .sidebar {
    // transition: transform 0.3s ease-out;
    @apply transition-all duration-300;
  }

  .animate-slide-in {
    transform: translateY(10%);
  }

  // .animate-slide-back {
  //   transform: translateY(0);
  // }

  // ******** END SIDE BAR ********
}
