@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-tw-primary text-base leading-normal mx-auto bg-tw-light;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }

  button,
  [type="button"] {
    -webkit-appearance: button;
    // background-color: red;
    background-image: none;
    color: black;
    border-color: #d9d9d9;
  }
}

@layer components {
  .layout-home {
    @apply max-w-[1440px] mx-auto;
  }
  // ******** GENERAL CUSTOM CSS *********
  .tw-transition-all {
    @apply transition-all duration-300;
  }

  .tw-bg-gradient-dark {
    @apply bg-gradient-to-t from-[rgba(0,0,0,0.5)] to-[rgba(0,0,0,0.5)];
  }

  // ***** Modal ******
  .ReactModal__Body--open {
    overflow: hidden !important;
  }
  .scroll-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }
  // ***** END Modal ******
  // ******** END GENERAL CUSTOM CSS *********

  // ******** SIDE BAR ********
  .sidebar {
    // transition: transform 0.3s ease-out;
    @apply transition-all duration-300;
  }

  .animate-slide-in {
    transform: translateY(10%);
  }

  .custom-upload .ant-upload .ant-upload-select {
    display: block !important;
    width: 100% !important;
  }

  // .animate-slide-back {
  //   transform: translateY(0);
  // }

  // ******** END SIDE BAR ********
}
